@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  overflow: hidden;
  background-color: #1c2331;
  color: aliceblue;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: black black;
}

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  line-height: 1;
  z-index: 182;
}

* a,
* button {
}

canvas {
  display: block;
  cursor: none;
  position: absolute;
  z-index: 6;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

#rocket {
  position: fixed;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.6s ease-in;
}
#rocket.fly {
  top: 400px;
  transform: translateX(-50%);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
#rocket.rotate {
  animation: rotate 0.5s ease-in-out forwards;
}
#rocket.reverse {
  transform: rotate(180deg) translateX(-50%);
}

header nav {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin-left: 40px;
  font-size: 24px;
  font-weight: 500;
  list-style-type: none;
}

header ul li a {
  color: #c0c0c0;
}

header nav img {
  width: 160px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%) translateY(0) scale(0.25);
  }
  10% {
    transform: translateX(-90%) translateY(-5px) scale(0.325);
  }
  20% {
    transform: translateX(-80%) translateY(-10px) scale(0.4);
  }
  30% {
    transform: translateX(-70%) translateY(-5px) scale(0.475);
  }
  40% {
    transform: translateX(-60%) translateY(0) scale(0.55);
  }
  50% {
    transform: translateX(-50%) translateY(-5px) scale(0.625);
  }
  60% {
    transform: translateX(-40%) translateY(-10px) scale(0.7);
  }
  70% {
    transform: translateX(-30%) translateY(-5px) scale(0.775);
  }
  80% {
    transform: translateX(-20%) translateY(0) scale(0.85);
  }
  90% {
    transform: translateX(-10%) translateY(-5px) scale(0.925);
  }
  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}
header nav img {
  animation: slideInFromLeft 1s cubic-bezier(0.25, 0.5, 0.75, 0.9);
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}

.text {
  width: 760px;
  color: #c0c0c0;
}

.titles {
  width: 600px;
}

.titles h1 {
  font-size: 80px;
  color: #7b9095;
  margin-bottom: 20px;
  font-weight: normal;
  font-weight: 800;
}

.titles h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2;
  color: #e6792f;
}

html body main section.presentation div.text p {
  font-size: 22px;
  line-height: 2;
  padding-bottom: 32px;
  text-align: justify;
}

a#link {
  background-color: #e6792f;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 2px;
}

#portfolio {
  padding-top: 1000px;
}
