@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  overflow: hidden;
  background-color: #1c2331;
  color: aliceblue;
}

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  line-height: 1;
  z-index: 182;
}

* a,
* button {
}

canvas {
  display: block;
  cursor: none;
  position: absolute;
  z-index: 6;
}

main {
  position: absolute;
  width: 1440px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#rocket {
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  transition: top 1s ease-in;
}
#rocket.fly {
  top: 100px;
  transform: translateX(-50%);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
#rocket.rotate {
  animation: rotate 1s ease-in-out forwards;
}
#rocket.reverse {
  transform: rotate(180deg) translateX(-50%);
}

header nav {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin-left: 40px;
  font-size: 24px;
  font-weight: 500;
  list-style-type: none;
}

header nav img {
  width: 160px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%) translateY(0) scale(0.25);
  }
  10% {
    transform: translateX(-90%) translateY(-5px) scale(0.325);
  }
  20% {
    transform: translateX(-80%) translateY(-10px) scale(0.4);
  }
  30% {
    transform: translateX(-70%) translateY(-5px) scale(0.475);
  }
  40% {
    transform: translateX(-60%) translateY(0) scale(0.55);
  }
  50% {
    transform: translateX(-50%) translateY(-5px) scale(0.625);
  }
  60% {
    transform: translateX(-40%) translateY(-10px) scale(0.7);
  }
  70% {
    transform: translateX(-30%) translateY(-5px) scale(0.775);
  }
  80% {
    transform: translateX(-20%) translateY(0) scale(0.85);
  }
  90% {
    transform: translateX(-10%) translateY(-5px) scale(0.925);
  }
  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}
header nav img {
  animation: slideInFromLeft 1s cubic-bezier(0.25, 0.5, 0.75, 0.9);
}
